@import "@/presentation/styles/colors.scss";

.header {
    display: flex;
    flex-direction: column;
    background: $gradient;
    border-top: 20px solid $background;
    align-items: center;

    img {
        height: 100px;
        margin-top: 40px;
    }

    h1 {
        color: $background;
        margin: 16px 0px 40px;
    }
}